<form [formGroup]="trainForm" (ngSubmit)="trainModel()">
    <div class="form-group">
      <label for="dataset_id">Dataset ID</label>
      <select name="dataset" id="dataset" formControlName="dataset_id">
        <option value="">Select dataset</option>
        <option *ngFor="let set of datasetService.datasets()" [value]="set.id"> 
            {{set.dataset_name}} 
        </option>
    </select>
    </div>
    
    <div class="form-group">
      <label for="model_type">Model Type</label>
      <select id="model_type" formControlName="model_type">
        <option value="">Select algorithm</option>
        <option *ngFor="let algo of algorithms" [value]="algo.id">
          {{ algo.algorithm_name }}
        </option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="name_of_model">Model Name</label>
      <input 
        type="text" 
        id="name_of_model" 
        formControlName="name_of_model" 
        placeholder="Enter a name for your model">
      <div *ngIf="trainForm.get('name_of_model')?.invalid && trainForm.get('name_of_model')?.touched" class="error-message">
        Model name is required
      </div>
    </div>
    
    <button type="submit" [disabled]="trainForm.invalid">Train Model</button>
  </form>