<div class="home-container">
  <section class="min-h-screen flex flex-col justify-center items-center px-4 text-center">
  <div class="max-w-2xl">
    <h1 class="text-4xl md:text-5xl font-extrabold text-gray-100 mb-4">
      Träna och publicera din ML-modell med några klick.
    </h1>
    <p class="text-lg md:text-xl text-gray-200 mb-8">
      Ladda upp data, välj algoritm, få ett API helt utan kod.
    </p>
    <div class="flex flex-col sm:flex-row gap-4 justify-center">
      <a
        routerLink="login"
        class="inline-block cursor-pointer px-6 py-3 text-white bg-blue-600 hover:bg-blue-700 rounded-2xl text-lg font-medium shadow-md transition-all duration-200"
      >
        Logga in
      </a>
      <a
        routerLink="signup"
        class="inline-block cursor-pointer px-6 py-3 text-blue-100 border border-blue-600 hover:bg-blue-700 rounded-2xl text-lg font-medium transition-all duration-200"
      >
        Skapa konto
      </a>
    </div>
  </div>
</section>


</div>