<form [formGroup]="trainForm" (ngSubmit)="trainModel()" class="max-w-md mx-auto bg-white rounded-xl shadow-md p-6 space-y-6">
  <div class="space-y-2">
    <label for="dataset" class="block text-sm font-medium text-slate-700">Träningsdatafil:</label>
    <select 
      name="dataset" 
      id="dataset" 
      formControlName="dataset_id" 
      class="block w-full px-4 py-2 text-base border border-slate-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 bg-white shadow-sm">
      <option value="">Select dataset</option>
      <option *ngFor="let set of datasetService.datasets()" [value]="set.id" class="py-1"> 
          {{set.dataset_name}} 
      </option>
    </select>
  </div>
  
  <div class="space-y-2 bg">
    <label for="model_type" class="block text-sm font-medium text-slate-700">Algoritm:</label>
    <select 
      id="model_type" 
      formControlName="model_type" 
      class="block w-full px-4 py-2 text-base border border-slate-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 bg-white shadow-sm">
      <option value="">Välj algoritm</option>
      <option *ngFor="let algo of algorithms" [value]="algo.id" class="py-1">
        {{ algo.algorithm_name }}
      </option>
    </select>
  </div>
  
  <div class="space-y-2">
    <label for="name_of_model" class="block text-sm font-medium text-slate-700">Modellnamn:</label>
    <input 
      type="text" 
      id="name_of_model" 
      formControlName="name_of_model" 
      placeholder="Enter a name for your model"
      class="block w-full px-4 py-2 text-base border border-slate-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 bg-white shadow-sm">
    <div *ngIf="trainForm.get('name_of_model')?.invalid && trainForm.get('name_of_model')?.touched" class="text-sm text-red-600 mt-1">
      Modellen måste få ett namn
    </div>
  </div>
  
  <button 
    type="submit" 
    [disabled]="trainForm.invalid"
    class="w-full flex justify-center py-3 px-4 border border-transparent rounded-lg shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition duration-150 disabled:opacity-50 disabled:cursor-not-allowed">
    Träna modell
  </button>
</form>